//entypo font icon sets - http://www.entypo.com/
@font-face {
  font-family: 'entypo';
  src: url('../images/entypo.eot'); /* IE9 Compat Modes */
  src: url('../images/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../images/entypo.woff') format('woff'), /* Modern Browsers */
       url('../images/entypo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../images/entypo.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'entypo-social';
  src: url('../images/entypo-social.eot'); /* IE9 Compat Modes */
  src: url('../images/entypo-social.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../images/entypo-social.woff') format('woff'), /* Modern Browsers */
       url('../images/entypo-social.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../images/entypo-social.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@mixin entypo($type) {
  @if $type == icon {
    font-style: normal;
    font-family: 'entypo';
  }
  @else if $type == social {
    font-style: normal;
    font-family: 'entypo-social';
  }
}

// refer to character map - http://www.entypo.com/characters/
i {
  &.icon-circle-plus:before {
    @include entypo(icon);
    content: '\2295';
  }
}

