@import url(http://fonts.googleapis.com/css?family=Roboto:900);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$header-font: 'Roboto', sans-serif;
$sub-header-font: 'Bree Serif', serif;
$body-font: 'Open Sans', $body-font-family;

body {
  font-family: $body-font;

  // default font-size is 16px = 1rem;
  @include respond(small) { font-size: remCalc(20px); }
  @include respond(medium) { font-size: remCalc(26px); }
  @include respond(large) { font-size: remCalc(30px); }
}

h1 {
  font-family: $header-font;
  font-weight: 900;
}

h2 {
  font-family: $sub-header-font;
  font-weight: 400;
}

p {
  line-height: 1.5em;

  .leading {
    font-family: $sub-header-font;
    font-size: 1.2em;
  }
}

a {
  @include transition-property(color);
  @include transition-duration(0.3s);

  color: $link-colour;
  text-decoration: none;
  border-bottom: $border-dotted-small;
  @include respond(medium) { border-bottom: $border-dotted-large; }

  &:hover {
    color: lighten($link-colour, 15%);
  }
}