@media only screen and (min-width: 768px) {
  /* line 6, ../sass/lt-ie9.scss */
  .lt-ie9 body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 6, ../sass/lt-ie9.scss */
  .lt-ie9 body {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1440px) {
  /* line 6, ../sass/lt-ie9.scss */
  .lt-ie9 body {
    font-size: 30px;
  }
}
/* line 14, ../sass/lt-ie9.scss */
.lt-ie9 nav .nav-email {
  display: none;
}
/* line 19, ../sass/lt-ie9.scss */
.lt-ie9 nav ul li {
  display: block;
  float: left;
}
/* line 28, ../sass/lt-ie9.scss */
.lt-ie9 section {
  padding: 15px;
  max-width: 500px;
}
@media only screen and (min-width: 768px) {
  /* line 28, ../sass/lt-ie9.scss */
  .lt-ie9 section {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 28, ../sass/lt-ie9.scss */
  .lt-ie9 section {
    max-width: 750px;
  }
}
@media only screen and (min-width: 1440px) {
  /* line 28, ../sass/lt-ie9.scss */
  .lt-ie9 section {
    max-width: 900px;
  }
}
/* line 36, ../sass/lt-ie9.scss */
.lt-ie9 section header {
  position: static;
}
/* line 40, ../sass/lt-ie9.scss */
.lt-ie9 section article {
  margin: 0;
}

/* line 53, ../sass/lt-ie9.scss */
.ie7 #main-header h1 {
  line-height: 1em;
}

/* line 59, ../sass/lt-ie9.scss */
.ie6 #container {
  width: 700px;
  max-width: 700px;
  border-left: 2px solid #333333;
  border-right: 2px solid #333333;
  padding: 0;
}
/* line 67, ../sass/lt-ie9.scss */
.ie6 #main-header {
  width: 730px;
}
/* line 69, ../sass/lt-ie9.scss */
.ie6 #main-header h1 {
  line-height: 1em;
}
/* line 73, ../sass/lt-ie9.scss */
.ie6 nav {
  width: 730px;
  font-size: 20px;
}
/* line 76, ../sass/lt-ie9.scss */
.ie6 nav.hide-nav {
  top: 0;
  margin-bottom: 0;
}
/* line 80, ../sass/lt-ie9.scss */
.ie6 nav.show-nav {
  top: 0;
}
/* line 83, ../sass/lt-ie9.scss */
.ie6 nav div, .ie6 nav ul {
  border-top: 0;
  width: auto;
}
/* line 87, ../sass/lt-ie9.scss */
.ie6 nav .nav-email, .ie6 nav .show-for-small {
  display: none !important;
}
