// variables
$color-home: #f7931e;
$color-experience: #8cc63f;
$color-personal: #3fa9f5;
$color-other: #d4145a;

$body-bg: #f7f7f7;
$body-color: #333;
$body-padding: 20px;
$body-md-width: 700px;
$body-lg-width: 900px;

$nav-height: 50px;
$nav-face-bg: #fff;
$nav-menu-bg: #333;

// mq mixin
@mixin respond($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}

$screen-sm: 481;
$screen-md: 769;
$screen-lg: 1441;

// random
%no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide-xs {
  display: none;
}

.hide-sm {
  @include respond($screen-sm) {
    display: none;
  }
}

.show-sm {
  display: none;
  @include respond($screen-sm) {
    display: block;
  }
}
