// variables
$color-home: #f7931e;
$color-experience: #8cc63f;
$color-personal: #3fa9f5;
$color-other: #d4145a;
$color-resume: #7F3280;

$body-bg: #f7f7f7;
$body-color: #333;
$body-padding: 20px;
$body-md-width: 700px;
$body-lg-width: 900px;

$nav-height: 50px;
$nav-face-bg: #fff;
$nav-menu-bg: #333;

$footer-bg: $nav-menu-bg;
$footer-color: $body-bg;

$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;

// mq mixin
@mixin respond($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}

$screen-sm: 481;
$screen-md: 767;
$screen-lg: 1025;
$screen-xlg: 1441;

// random
%no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// nav mixins
@mixin menu-item($color) {
  background: $color;
  > a:hover,
    a:active,
    a:focus {
    background: lighten($color, 10%);
  }
}


@mixin nav-toggle-color($color) {
  > .nav-toggle-bar {
    background: $color;
  }
}

// content sections mixin
@mixin content-section($color) {
  > h1 {
    color: $color;
  }

  a {
    color: $color;
    text-decoration: none;
    border-bottom: 1px dotted darken($color, 20%);

    &:hover,
    &:focus,
    &:active {
      color: darken($color, 20%);
    }
  }
}

// display stuff
.hide-xs {
  display: none;
}

.hide-sm {
  @include respond($screen-sm) {
    display: none;
  }
}

.hide-md {
  @include respond($screen-md) {
    display: none;
  }
}

.show-sm {
  display: none;
  @include respond($screen-sm) {
    display: block;
  }
}

.show-md {
  display: none;
  @include respond($screen-md) {
    display: block;
  }
}

// specific hide/show for cutting text in nav
.show-text {
  display: none;
  @include respond(900) {
    display: inline;
  }
}

// basics
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}