body {
  background: $body-bg;
  color: $body-color;
  position: static;
}

.content {
  max-width: 100%;
  margin: 0 $body-padding;
  margin-right: $body-padding * 1.5;

  @include respond($screen-sm) {
    margin: 0 $body-padding*3;
  }
  @include respond($screen-md) {
    margin: 0 auto;
    width: 100%;
    max-width: $body-md-width;
  }
  @include respond($screen-xlg) {
    max-width: $body-lg-width;
  }
}

#home {
  @include content-section($color-home);
}

#experience {
  @include content-section($color-experience);
}

#personal {
  @include content-section($color-personal);
}

#other {
  @include content-section($color-other);
}

footer {
  margin: 0;
  margin-top: 80px;
  padding: 20px;
  background: $footer-bg;
  color: $footer-color;
  text-align: center;

  @include respond($screen-md) {
    padding: 40px;
  }

  a {
    color: $footer-color;
    text-decoration: none;
    border-bottom: 1px dotted darken($footer-color, 10%);

    &:hover,
    &:focus,
    &:active {
      color: darken($footer-color, 10%);
    }
  }
}

.footer-links {
  @extend %paragraph-font;
  list-style: none;
  padding: 0;
  margin: 10px;

  li {
    display: inline-block;

    &:after {
      display: inline-block;
      padding: 0 5px;
      content: "|";
      color: darken($footer-color, 50%);
    }

    &:last-of-type:after {
      display: none;
    }
  }
}