body {
  background: $body-bg;
  color: $body-color;
  padding: 0 $body-padding;

  @include respond($screen-sm) {
    padding: 0 $body-padding*3;
  }
}

section {
  width: 100%;
  margin: auto;

  @include respond($screen-md) {
    max-width: $body-md-width;
  }
  @include respond($screen-lg) {
    max-width: $body-lg-width;
  }
}