body {
  background: $body-bg;
  color: $body-color;
  position: static;
}

.content {
  max-width: 100%;
  margin: 0 $body-padding;
  margin-right: $body-padding * 1.5;

  @include respond($screen-sm) {
    margin: 0 $body-padding*3;
  }
  @include respond($screen-md) {
    margin: 0 auto;
    width: 100%;
    max-width: $body-md-width;
  }
  @include respond($screen-xlg) {
    max-width: $body-lg-width;
  }
}

#home {
  @include content-section($color-home);
}

#experience {
  @include content-section($color-experience);
}

#personal {
  @include content-section($color-personal);
}

#other {
  @include content-section($color-other);
}

footer {
  margin: 0;
  margin-top: 80px;
  padding: 20px 0;
  background: $footer-bg;
  color: $footer-color;
  text-align: center;
  position: relative;

  @include zigzag(top);

  @include respond($screen-md) {
    padding: 40px 0;
  }

  a {
    color: $footer-color;
    text-decoration: none;
    border-bottom: 1px dotted darken($footer-color, 10%);

    &:hover,
    &:focus,
    &:active {
      color: darken($footer-color, 10%);
    }
  }
}

.footer-links {
  @extend %paragraph-font;
  list-style: none;
  padding: 0;
  margin: 10px;

  li {
    display: inline-block;

    &:after {
      display: inline-block;
      padding: 0 5px;
      content: "|";
      color: darken($footer-color, 50%);
    }

    &:last-of-type:after {
      display: none;
    }
  }
}

// showcase carousel
.showcase {
  background: #8cc63f;
  position: relative;
  overflow: hidden;
  @extend %no-select;
  @include zigzag(top);
  @include zigzag(bottom);
  // height: 100px;
  padding-top: 20px;

  @include respond($screen-sm) {
    padding-top: 0;
  }
}

.showcase-controls {
  position: absolute;
  bottom: 0;
  z-index: 1480;
  width: 100%;
  height: 50%;
}

%showcase-controls-nav {
  display: block;
  position: absolute;
  top: -25px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.showcase-controls-left {
  @extend %showcase-controls-nav;
  @include triangle(left, #333, 25px);
  left: 5px;

  @include respond ($screen-sm) {
    left: 20px;
  }
}

.showcase-controls-right {
  @extend %showcase-controls-nav;
  @include triangle(right, #333, 25px);
  right: 5px;

  @include respond($screen-sm) {
    right: 20px;
  }
}

.showcase-controls-center {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.showcase-controls-panel {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    height: 12px;
    width: 12px;
    float: left;
    margin: 5px;
    @include border-radius(12px);
    background: #333;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}

.showcase-slide {
  height: 100%;
  position: absolute;
  visibility: hidden;
  @include transform-transition();

  // default hidden to right
  @include transform2d(translateX(100%));

  &.active {
    position: relative;
    visibility: visible;
    @include transform2d(translateX(0));
  }

  &.left {
    @include transform2d(translateX(-100%));
  }

  &.no-transition {
    @include single-transition(none);
  }

  img {
    width: 100%;
  }
}