%header-font {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%paragraph-font {
  font-family: "freight-text-pro", "Georgia";
  font-style: normal;
  font-weight: 400;
}

h1 {
  @extend %header-font;
  letter-spacing: -0.05em;
  font-size: 6em;
  text-align: center;

  > .dark {
    color: #333;
  }

  &.home {
    color: #f7931e;
  }
}

p {
  @extend %paragraph-font;
  font-size: 1.5em;
  line-height: 1.45em;

  &.leading {
    font-weight: 600;
    font-size: 1.7em;
  }
}